//mainheader
#mainheader {
    .logo {
        display: block;
        margin: 0 auto;
        padding: 3rem 0;
        text-align: center;
    }
    .navbar {
        ul {
            display: block;
            text-align: center;
            li {
                text-align: center;
                display: inline;
            }
        }  
        .container {
            display: block;
        }  
    }
}

//showcase
#showcase {
    .showcase-content {
       h1 {
        padding-top: 0;
        font-size: 3rem;
        padding-top: 10rem;
       }
    }
}

//couple
#couple {
    .container {
        .couple-content {
            display: block;
            img {
                width: 100%;
            } 
            .couple-text {
                p {
                    text-align: justify;
                }
            }
        }
    }
}