@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$font-stack:"Montserrat", sans-serif;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-family: $font-stack;
    scroll-behavior: smooth;
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}


.navbar ul li a:hover,
.navbar ul li a.active {
    color: rgba(238, 130, 238, 0.599);
    text-decoration: underline;
}

ul {
    list-style: none;
}

.title {
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
    font-weight: 400;
}

.subtitle {
    font-size: 3rem;
    text-align: left;
    font-weight: 300;
    margin: 2rem 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 30px;
    overflow: auto;
}

.flex {
    display: flex;
    flex: 1;
    gap: 30px;
}

img {
    max-width: 100%;
}

form {
    .form-group {
        margin-bottom: 1rem;
    }
    .form-control {
        width: 100%;
        display: block;
        padding: 1rem;
        border-radius: 5px;
    }
    button {
        width: 100%;
        padding: 10px 20px;
        background: #000;
        color: #fff;
        text-align: center;
        text-transform: capitalize;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        margin: 2rem 0;
    }
    button:hover {
        background: #000000a7;
    }
    input:focus {
        border: 1px solid blue;
        outline: none;
    }
    textarea:focus {
        border: 1px solid blue;
        outline: none;
    }
}

::placeholder {
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    content: "\f007";
    text-align: right;
}

//mainheader
#mainheader {
    width: 90%;
    margin: 0 auto;
    .logo {
        text-align: center;
        display: block;
        margin: 0 auto;
        padding: 3rem 0;
        font-family: "Pacifico";
        font-size: 3rem;
        font-weight: 300;
    }
    .navbar {
        ul {
            display: flex;
            margin-top: 2rem;
            text-align: center;
            li {
                display: block;
                margin: 0 auto;
                text-align: center;
                margin-left: 2rem;
            }
            .container {
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
        }
    }   
}

//showcase
#showcase {
    background: url("/img/showcase.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .showcase-content {
        color: #9f9f9f;
        text-align: center;
        h1 {
            font-size: 5rem;
            padding-top: 15rem;
        }
    }
}

//couple
#couple {
    .couple-content {
        img {
            width: 50%;
        }
        .couple-text {
            h3 {
                color: #000000b7;
                margin-bottom: 1rem;
            }
            h2 {
                margin-bottom: 1rem;
                font-size: 4rem;
            }
            p {
                line-height: 30px;
            }
        }
        margin-bottom: 2rem;
    }
}

//weding-date
#wedding-date {
    background: url("/img/countdown.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .weeding-date-content {
        h2 {
            margin: 2rem 0;
            padding: 3rem 0;
        }
        h1 {
            color: #848484;
            margin: 2rem 0;
            padding: 2rem 0 4rem 0;
            font-size: 5rem;
        }
    }
}

//rsvp
#rsvp {
    width: 70%;
    margin: 0 auto;
    form {
        .flexbox {
            flex: 1;
        }
    }
}

//footer
#footer {
    text-align: center;
    padding: 3rem 0;
}

//cielito lindo
/* css */
/*!
 * ScrollToTop v2.0
 * Copyright 2019 zkreations
 * Daniel Abel M. (fb.com/danieI.abel)
 * Licensed under MIT (github.com/zkreations/plugins/blob/master/LICENSE)
 */
/*! Core (No modificar) {{*/
.scrollToTop {
    outline: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.scrollToTop svg {
    display: block;
}

.scrollToTop {
    position: fixed;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity .3s, background .3s, -webkit-transform .3s;
    transition: transform .3s, opacity .3s, background .3s;
    transition: transform .3s, opacity .3s, background .3s, -webkit-transform .3s;
    -webkit-transform: translateY(-2em);
    transform: translateY(-2em);
}

.scrollToTop.visible {
    pointer-events: all;
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

/*}} Fin del core {{*/

/*! Personalización */
/* Icono
     -----------------------------------------*/
.scrollToTop svg {
    fill: #FFFFFF;
    /* color */
}

/* Boton
     -----------------------------------------*/
.scrollToTop {
    background-color: #cc7980;
    /* fondo */
    box-shadow: 0 1px 4px rgba(0, 0, 0, .5);
    /* sombra */
    bottom: 1em;
    /* separación inferior */
    right: 1em;
    /* separación derecha */
    padding: .5em;
    /* relleno */
    border-radius: 4px;
    /* borde redondeado */
}

.scrollToTop:hover {
    background-color: #880509;
    /* fondo (hover) */
}

