@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: rgba(238, 130, 238, 0.599);
  text-decoration: underline;
}

ul {
  list-style: none;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin: 3rem 0;
  font-weight: 400;
}

.subtitle {
  font-size: 3rem;
  text-align: left;
  font-weight: 300;
  margin: 2rem 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: auto;
}

.flex {
  display: flex;
  flex: 1;
  gap: 30px;
}

img {
  max-width: 100%;
}

form .form-group {
  margin-bottom: 1rem;
}
form .form-control {
  width: 100%;
  display: block;
  padding: 1rem;
  border-radius: 5px;
}
form button {
  width: 100%;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  margin: 2rem 0;
}
form button:hover {
  background: rgba(0, 0, 0, 0.6549019608);
}
form input:focus {
  border: 1px solid blue;
  outline: none;
}
form textarea:focus {
  border: 1px solid blue;
  outline: none;
}

::-moz-placeholder {
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  content: "\f007";
  text-align: right;
}

::placeholder {
  font-family: "Font Awesome 5 free";
  font-weight: 600;
  content: "\f007";
  text-align: right;
}

#mainheader {
  width: 90%;
  margin: 0 auto;
}
#mainheader .logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 3rem 0;
  font-family: "Pacifico";
  font-size: 3rem;
  font-weight: 300;
}
#mainheader .navbar ul {
  display: flex;
  margin-top: 2rem;
  text-align: center;
}
#mainheader .navbar ul li {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-left: 2rem;
}
#mainheader .navbar ul .container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#showcase {
  background: url("/img/showcase.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
#showcase .showcase-content {
  color: #9f9f9f;
  text-align: center;
}
#showcase .showcase-content h1 {
  font-size: 5rem;
  padding-top: 15rem;
}

#couple .couple-content {
  margin-bottom: 2rem;
}
#couple .couple-content img {
  width: 50%;
}
#couple .couple-content .couple-text h3 {
  color: rgba(0, 0, 0, 0.7176470588);
  margin-bottom: 1rem;
}
#couple .couple-content .couple-text h2 {
  margin-bottom: 1rem;
  font-size: 4rem;
}
#couple .couple-content .couple-text p {
  line-height: 30px;
}

#wedding-date {
  background: url("/img/countdown.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#wedding-date .weeding-date-content h2 {
  margin: 2rem 0;
  padding: 3rem 0;
}
#wedding-date .weeding-date-content h1 {
  color: #848484;
  margin: 2rem 0;
  padding: 2rem 0 4rem 0;
  font-size: 5rem;
}

#rsvp {
  width: 70%;
  margin: 0 auto;
}
#rsvp form .flexbox {
  flex: 1;
}

#footer {
  text-align: center;
  padding: 3rem 0;
}

/* css */
/*!
 * ScrollToTop v2.0
 * Copyright 2019 zkreations
 * Daniel Abel M. (fb.com/danieI.abel)
 * Licensed under MIT (github.com/zkreations/plugins/blob/master/LICENSE)
 */
/*! Core (No modificar) {{*/
.scrollToTop {
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.scrollToTop svg {
  display: block;
}

.scrollToTop {
  position: fixed;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: transform 0.3s, opacity 0.3s, background 0.3s;
  transform: translateY(-2em);
}

.scrollToTop.visible {
  pointer-events: all;
  opacity: 1;
  transform: translateY(0);
}

/*}} Fin del core {{*/
/*! Personalización */
/* Icono
     -----------------------------------------*/
.scrollToTop svg {
  fill: #FFFFFF;
  /* color */
}

/* Boton
     -----------------------------------------*/
.scrollToTop {
  background-color: #cc7980;
  /* fondo */
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  /* sombra */
  bottom: 1em;
  /* separación inferior */
  right: 1em;
  /* separación derecha */
  padding: 0.5em;
  /* relleno */
  border-radius: 4px;
  /* borde redondeado */
}

.scrollToTop:hover {
  background-color: #880509;
  /* fondo (hover) */
}/*# sourceMappingURL=styles.css.map */